# package managers
node_modules/
pnpm-debug.log
package-lock.json
yarn.lock
.pnp
.pnp.js
.pnp.cjs
.pnp.loader.mjs

# builds & caches
dist/
*.tsbuildinfo
coverage/
.turbo/
.next/
.vite/
.cache/

# env & secrets
.env
.env.*.local
.npmrc
*.pem
*.key
*.pfx
cosign.key

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# generated artifacts
**/openapi/generated/**
sbom-*.json
provenance-*.intoto.jsonl
